/* .example-spacer {
  flex: 1 1 auto;
}

.mat-divider {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.scrollablePart {
  margin-top: 80px;
  overflow-y: auto;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 10px;
} */

.example-spacer {
  flex: 1 1 auto;
}

.mat-divider {
  margin: 10px;
}

.scrollablePart {
  margin-top: 80px;
  overflow-y: auto;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

@media (max-width: 768px) {
  .scrollablePart {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.text-center {
  display: flex;
  justify-content: center;
}
