<!-- <mat-toolbar>
  <span>Edit Product</span>
  <span class="example-spacer"></span>
  <button mat-icon-button style="color: black;" (click)="routeToHome()">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>

<mat-divider></mat-divider>

<div class="card shadow scrollablePart">
  <div class="card-body">
    <form (ngSubmit)="submitForm()">
      <div class="mb-3">
        <input type="text" placeholder="Product Name" class="form-control" name="productName" [(ngModel)]="productName" required>
      </div>
      <div class="mb-3">
        <input type="number" placeholder="Price" class="form-control" name="price" [(ngModel)]="price" required>
      </div>
      <div class="mb-3">
        <input type="file" placeholder="File" class="form-control" [(ngModel)]="imageUrl" required [ngModelOptions]="{standalone: true}" (change)="onFileSelected($event)">
      </div>
      <div class="mb-3">
        <textarea placeholder="Product description" class="form-control" [(ngModel)]="productDesc" name="productDesc" required [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="mb-3">
        <input type="text" placeholder="Product video link" class="form-control" name="productVideoLink" [(ngModel)]="productVideoLink" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info" [disabled]="!isValid()">Submit</button>
      </div>
    </form>
  </div>
</div> -->

<mat-toolbar>
  <span>Edit Product</span>
  <span class="example-spacer"></span>
  <button mat-icon-button style="color: black;" (click)="routeToHome()">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>

<mat-divider></mat-divider>

<div class="card shadow scrollablePart">
  <div class="card-body">
    <form (ngSubmit)="submitForm()">
      <div class="mb-3">
        <input type="text" placeholder="Product Name" class="form-control" name="productName" [(ngModel)]="productName" required>
      </div>
      <div class="mb-3">
        <input type="number" placeholder="Price" class="form-control" name="price" [(ngModel)]="price" required>
      </div>
      <div class="mb-3">
        <input type="file" placeholder="File" class="form-control" [(ngModel)]="imageUrl" required [ngModelOptions]="{standalone: true}" (change)="onFileSelected($event)">
      </div>
      <div *ngIf="urlString">
        <img [src]="urlString" alt="Product Image" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
        <button mat-icon-button (click)="deleteImage()">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
      <div class="mb-3">
        <textarea placeholder="Product description" class="form-control" [(ngModel)]="productDesc" name="productDesc" required [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="mb-3">
        <input type="text" placeholder="Product video link" class="form-control" name="productVideoLink" [(ngModel)]="productVideoLink" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info" [disabled]="!isValid()">Submit</button>
      </div>
    </form>
  </div>
</div>
